<footer>
	<div class="footer1">
		<div class="wrapper">
			<div class="row">
				<div class="col-sm-3">
					<h5>Sports</h5>
					<ul>
						<li><a href="#">Daily Fantasy Football</a></li>
						<li><a href="#">FIFA</a></li>
						<li><a href="#">Madden NFL</a></li>
						<li><a href="#">NHL</a></li>
						<li><a href="#">NBA Live</a></li>
					</ul>
				</div><!--col-sm-3-->

				<div class="col-sm-3">
					<h5>Our Team</h5>
					<ul>
						<li><a href="#">BC Lions</a></li>
						<li><a href="#">Edmonton Eskimos</a></li>
						<li><a href="#">Calgary Stampeders</a></li>
						<li><a href="#">Winnipeg Blue Bombers</a></li>
						<li><a href="#">Hamilton Tiger-Cats</a></li>
						<li><a href="#">Toronto Argonauts</a></li>
					</ul>
				</div><!--col-sm-3-->

				<div class="col-sm-3">
					<h5>Sports Media</h5>
					<ul>
						<li><a href="#">Press</a></li>
						<li><a href="#">Subscribe</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div><!--col-sm-3-->

				<div class="col-sm-3">

					<img src="images/bankroll_tool/map.jpg" alt="map">
				</div><!--col-sm-3-->

			</div><!--row-->
		</div><!--wrapper-->
	</div>

	<div class="footer2">
		Copyright © 2017 . All Rights Reserved.
	</div>
</footer>