<header class="kopa-header">
	<div class="kopa-header-top">  
		<div class="wrapper">

			<div class="header-top-left">
				<div class="k-user">

					<ul class="clearfix">
						<li><a href="#">Sign in</a></li>
						<li>&nbsp;|&nbsp;</li>
						<li><a href="#">Register</a></li>
					</ul>
				</div>
				<!-- k-user -->
				<div class="social-links style-color">
					<ul class="clearfix">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-youtube"></a></li>
						<li><a href="#"><i class="fa fa-search"></i></a></li>
					</ul>
				</div>
				<!-- social-links -->

			</div><!--header-top-left-->

			<div class="header-top-right">
				<div class="header-top-list">
					<ul class="clearfix">
						<li><a href="#">Research Tools</a></li>
						<li><a href="#">Court</a></li>
						<li><a href="#">Lineupbuilder</a></li>
						<li><a href="#">DFS Analyzer</a></li>
						<li><a href="#">DFS Alerts</a></li>
						<li><a href="#">Introductory Embedded Videos</a></li>
						<li><a href="#">FAO</a></li>
						
					</ul>				
				</div>
			</div><!--header-top-right-->
			<div class="clearfix"></div>
		</div><!--wrapper-->
	</div><!--kopa-header-top-->

	<div class="kopa-header-middle">

		<div class="wrapper">

			<div class="kopa-logo">
				<a href="#"><img src="images/bankroll_tool/logo.png" alt="logo"></a>
			</div>
			<!-- logo -->

			<nav class="kopa-main-nav">
				<ul class="main-menu sf-menu sf-js-enabled sf-arrows">
					<li><a href="#"><span>CONTACT US</span></a></li>
					<li><a href="#"><span>PRIVACY POLICY</span></a></li>
					<li><a href="#"><span>ABOUT US</span></a></li>
					<li><a href="#"><span>PRIVACY POLICY</span></a></li>			
					<li><a href="#"><span>RANKINGS</span></a></li>   
					<li><a href="#"><span>ARTICLES</span></a></li>    
					<li><a href="#"><span>FORUMS</span></a></li>    
					<li><a href="#"><span>HOME</span></a></li>    

				</ul>                
			</nav>
			<!--/end main-nav-->

			<nav class="main-nav-mobile clearfix">
				<a class="pull fa fa-bars"></a>
				<ul class="main-menu-mobile">
					<li><a href="#"><span>CONTACT US</span></a></li>
					<li><a href="#"><span>PRIVACY POLICY</span></a></li>
					<li><a href="#"><span>ABOUT US</span></a></li>
					<li><a href="#"><span>PRIVACY POLICY</span></a></li>			
					<li><a href="#"><span>RANKINGS</span></a></li>   
					<li><a href="#"><span>ARTICLES</span></a></li>    
					<li><a href="#"><span>FORUMS</span></a></li>    
					<li><a href="#"><span>HOME</span></a></li>  



				</ul>  
			</nav>
			<!--/main-menu-mobile-->
			<div class="clearfix"></div>
		</div>
		<!-- wrapper -->

	</div><!--kopa-header-middle-->
	
	<div class="kopa-header-bottom">

		<div class="wrapper">

			<nav class="kopa-main-nav-2">
				<ul class="main-menu-2 sf-menu sf-js-enabled sf-arrows">
					<li><a href="#"><span>planet futbol</span></a></li>
					<li><a href="#"><span>golf</span></a></li>
					<li><a href="#"><span>nhl</span></a></li>
					<li><a href="#"><span>nfl</span></a></li>
					<li><a href="#"><span>nba</span></a></li>
					<li><a href="#"><span>mlb</span></a></li>
					<li><a href="#"><span>mmqb</span></a></li>
					<li><a href="#"><span>ncaaf</span></a></li>
				</ul>                
			</nav>
			<!--/end main-nav-2-->

			<nav class="main-nav-mobile style2 clearfix">
				<a class="pull">categories<i class="fa fa-angle-down"></i></a>
				<ul class="main-menu-mobile">
					<li><a href="#"><span>ncaaf</span></a></li>
					<li><a href="#"><span>mmqb</span></a></li>
					<li><a href="#"><span>mlb</span></a></li>
					<li><a href="#"><span>nba</span></a></li>
					<li><a href="#"><span>nfl</span></a></li>
					<li><a href="#"><span>nhl</span></a></li>
					<li><a href="#"><span>golf</span></a></li>
					<li><a href="#"><span>planet futbol</span></a></li>
				</ul>  
				<div class="clearfix"></div>
			</nav>

			<!--/main-menu-mobile-2-->
			<div class="clearfix"></div>
		</div>
		<!-- wrapper -->

	</div><!--kopa-header-bottom-->

</header>