<!-- views/index.ejs -->
<%- contentFor('content') %>
<div class="bank_banner">
	<div class="wrapper">
		<div class="bank_banner-txt">
			<h1>Effortless Results Tracking</h1>
			<h4>for Daily Fantasy Sports</h4>
			<button class="button">sign up free now</button>&nbsp;&nbsp;
			<button class="button button2">learn More</button>
		</div>
		<div class="clearfix"></div>
	</div><!--wrapper-->
</div><!--bank_banner-->
<div class="bank_1_sec">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-6">
				<div class="all-fantasy">
					<h2>All fantasy sports results in one place</h2>
					<h3>Daily Fantasy NFL, MLB, NBA, PGA,<br>and NHL Contests</h3>
					<p>Upload and analyse your DFS results from multiple sites with just a few clicks. We currently support <b>FanDuel, DraftKings, Yahoo and DraftDay.</b> 
						And whether you play hundreds, thousands — even <b>hundreds of thousands</b> — of contests, DF Sports Gods will handle all the data you throw at it. </p>
					</div><!--row-->

				</div><!--row-->
				<div class="col-md-6">
					<div class="all-fantasy-img">
						<img src="images/bankroll_tool/bankroll_fantsys.jpg" alt="image">

					</div><!--row-->

				</div><!--row-->

			</div><!--row-->

		</div><!--wrapper-->
	</div><!--bank_1_sec-->
	<div class="bank_robust">
		<div class="wrapper">
			<div class="heading">
				<h2>Robust Bankroll Tools</h2>
				<img src="images/bankroll_tool/line.png" alt="image">

			</div>

			<div class="robust-txt pull-left">
				<div class="robust-txt-b">
					<div class="no pull-left">1</div>
					<div class="des pull-right">
						VISUALIZE
						<p>With DF Sports Gods you can see how well you've performed with <b>advanced report-ing, filtering and charts.</b></p>
					</div>

				</div>
				<br>
				<div class="robust-txt-b box_2">
					<div class="no pull-left">2</div>
					<div class="des pull-right">
						ANALYZE
						<p>Our unique Opponents report tells you who you've played head-to-head — and who's winning.</b></p>
					</div>

				</div>
				<br>
				<div class="robust-txt-b">
					<div class="no pull-left">3</div>
					<div class="des pull-right">
						KEEP TRACK OF YOUR BANKROLL
						<p>Keep track of your bankroll with our profit /loss graphs.</b></p>
					</div>

				</div>

			</div>






			<div class="robust-img pull-right">
				<img src="images/bankroll_tool/robust-2.png" alt="image">
			</div>
			<div class="clearfix"></div>
		</div><!--wrapper-->
	</div><!--bank_banner-->

	<div class="bank_signup">
		<div class="wrapper">
			<div class="bank_signup">
				<div class="bank_signup-lft">
					<h3>"DF Sports Gods one of the best sites out there. Check <br>out the bankroll builder. Awesome customer service."</h3>
				</div>
				<div class="bank_signup-ryt">
					<button class="btn">sign up for free</button>
				</div>
			</div>
			<div class="clearfix"></div>
		</div><!--wrapper-->
	</div><!--bank_signup-->


	<div class="bank_bg">
		<div class="wrapper">
			<div class="bank_bg_txt">
				<div class="heading">
					<h2>Crush the <span>competition</span></h2>


				</div>
				<p>No other DFS bankroll tracking tool has the breadth and depth you need to drill down in your results and really understand your performance. Grouped reporting shows your performance by site, sport, slate, contest type, and more. Our Contests list groups your entries so you can understand performance in multi-entry contests. Keep track of your bankroll with our profit/loss graphs.<br><br>

					... plus dozens more features, filters and reports that can be combined in any way you want.</p>

					<div class="exp"><a href="#">explore</a></div>
				</div><!--bank_bg_txt-->
			</div><!--wrapper-->
		</div><!--bank_bg-->

		<div class="bank_risk">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-6">
						<div class="bank_risk_mgm">
							<div class="heading">
								<h2>Bankroll Risk Management </h2>
								<img src="images/bankroll_tool/line.png" alt="image">


							</div>
							<img src="images/bankroll_tool/bank_risk_mgm.png" alt="image"><br>
							<h5><span>Very Safe</span> - 90% of bankroll in Cash Games / 10% of bankroll in Gpp</h5>
							<h5><span>Conservative</span> - 80% of bankroll in Cash Games / 20% of bankroll in Gpp</h5>
							<h5><span>Aggressive</span> - 65% of bankroll in Cash Games / 35% of bankroll in Gpp</h5>
						</div>
					</div>	
					<div class="col-md-6">
						<div class="bank_risk_ply">
							<div class="heading">
								<h2>Very Safe Playing Style </h2>
								<img src="images/bankroll_tool/line.png" alt="image">

							</div>
							<img src="images/bankroll_tool/bank_risk_ply.png" alt="image">

						</div>
					</div>	
					<div class="clearfix"></div>
				</div><!--row-->	
			</div><!--wrapper-->
		</div><!--bank_signup-->

		<div class="bank_video">
			<div class="wrapper">
				<div class="heading">
					<h2>Watch and Learn </h2>
					<img src="images/bankroll_tool/line.png" alt="image">

				</div>
				<div class="row">
					<div class="col-sm-4">
						<img src="images/bankroll_tool/b_v_1.png" alt="image">

					</div><!--col-sm-4-->
					<div class="col-sm-4">
						<img src="images/bankroll_tool/b_v_1.png" alt="image">

					</div><!--col-sm-4-->
					<div class="col-sm-4">
						<img src="images/bankroll_tool/b_v_1.png" alt="image">

					</div><!--col-sm-4-->

				</div><!--row--><br>
				<div class="row">
					<div class="col-sm-4">
						<img src="images/bankroll_tool/b_v_1.png" alt="image">

					</div><!--col-sm-4-->
					<div class="col-sm-4">
						<img src="images/bankroll_tool/b_v_1.png" alt="image">

					</div><!--col-sm-4-->
					<div class="col-sm-4">
						<img src="images/bankroll_tool/b_v_1.png" alt="image">

					</div><!--col-sm-4-->

				</div><!--row-->

			</div><!--wrapper-->
		</div><!--bank_signup-->		