<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bankroll Tool</title>
	<link href="front/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="front/css/style.css" rel="stylesheet" type="text/css" />
	<link href="front/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="front/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=myriad+pro" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="front/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
	<% include header %>
	<section>
		<%-content%>
	</section>
	<% include footer %>
</body>
</html>