/* CSS Document */

a, a:hover{text-decoration:none !important; }
body, p, h1, h2, h3, h4, h5, h6, ul{ margin:0; padding:0; font-family:;}
body{font-family: "Open Sans", sans-serif; background: #fff;}
.padding{padding:0;}
.padding-l{padding-left:0px;}
.padding-r {padding-right: 0px;}
.padding-l-r{padding-left:0px; padding-right: 0px;}
img{max-width:100%; width:auto;}
ul{
	list-style: none;
}

/** header**/
/** header-top**/
.kopa-header {
	background: #fff;
	position: relative;
	margin-bottom: 0;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
/** header-left**/

.header-top-left {
	float: left;
	padding: 10px 0;
}

.k-user {
	float: left;
}

.k-user ul li {
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #333333;
	font-weight: 700;

}

.k-user ul li a {
	color: #333333;
	text-decoration: none !important;
}

.header-top-left .social-links {
	float: left;
	margin-left: 40px;
}

.social-links ul {
	margin: 0 -20px;
}

.social-links ul li {
	float: left;
	margin: 0 20px;
	font-size: 18px;
}

.style-color ul li a.fa-facebook {
	color: #0d5cc8;
}

.style-color ul li a.fa-twitter {
	color: #28aae1;
}

.style-color ul li a.fa-youtube {
	color: #333333;
}

.style-color ul li a i {
	color: #333333;
}

/** header-top-left end**/

/** header-right**/

.header-top-right {
	float: right;
	padding: 10px 0;
}

.header-top-list ul li {
	display: inline;
	float: left;
	margin-left: 20px;
}

.header-top-list ul li a {
	color: #333333;
	font-size: 12px;
}

/** header-top-right end**/
/** header-top end**/

/** header-top-middle**/
.kopa-header-middle {
	border-top: 5px solid #333333;
	background: #fec524;
}

.kopa-header-middle > .wrapper {
	position: relative;
}

.kopa-logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.kopa-logo img {
	width: 170px;
	transform: skew(-10deg);
	background-color: #333333;
	padding-left: 20px;
	padding-right: 20px;
}

.kopa-main-nav {
	width: 100%;
	float: right;
}

.main-menu {
	position: relative;
	border: none;
	margin: 0;
}

.sf-menu {
	width: 100%;
}



.main-menu > li, .main-menu-2 > li{
	list-style: none;
	padding: 0;
	background: none;
	z-index: 99999999;
	float: right;
	position: initial;
	white-space: normal;
	-moz-transition: all 0.5s;
}

.main-menu > li:hover > a {
	background: #333333;
	transform: skew(-10deg);
}

.main-menu > li > a {
	padding: 10px 10px;
	font-family: "Oswald", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: white;
	text-transform: uppercase;
	margin: 0;
	border: none;
	position: relative;
	-moz-transition: all 0.5s;
	display: block;
}



.main-nav-mobile {
	display: none;
	float: right;
	position: relative;
}

.main-nav-mobile .pull{
	color: #fff;
	z-index: 99;
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 21px;
	float: right;
	background: #333333;
	padding: 5px 10px;
	margin: 6px 0 5px;
}

.main-nav-mobile .main-menu-mobile {
	position: absolute;
	top: 42px;
	right: 0;
	width: 280px;
	z-index: 999999;
	display: none;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 5px 15px 0;
	text-align: left;
}

.main-nav-mobile .main-menu-mobile > li:first-child {
	border: 0;
}

.main-nav-mobile .main-menu-mobile > li > a {
	color: #333333;
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
	font-size: 14px;
	display: block;
	padding: 10px 25px 10px 0;
}

/** kopa-header-middle end**/

/** kopa-header-bottom**/

.kopa-header-bottom {
	border-bottom: 20px solid #333333;
}

.main-menu-2 {
	position: relative;
	border: none;
	margin: 0;
}

.main-menu-2 > li {
	margin: 10px 15px;
}

.main-menu-2 > li > a {
	padding: 0;
	color: #333333;
}

.main-menu-2 > li > a {
	font-family: "Oswald", sans-serif;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	margin: 0;
	border: none;
	position: relative;
	-moz-transition: all 0.5s;
}

.main-nav-mobile.style2 .pull {
	background: none;
	padding: 0;
	font-family: "Oswald", sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-transform: uppercase;
	margin: 11px 0;
}

.main-nav-mobile.style2 .pull i {
	margin-left: 5px;
}

.main-nav-mobile.style2 .main-menu-mobile {
	z-index: 99999;
}

.main-nav-mobile .main-menu-mobile {
	position: absolute;
	top: 42px;
	right: 0;
	width: 280px;
	z-index: 999999;
	display: none;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 5px 15px 0;
	text-align: left;
}

.main-nav-mobile .main-menu-mobile > li > a > span:first-child{
	position: relative;
	right: auto;
	top: auto;
	font-size: 14px;
}

/** kopa-header-bottom end**/

/** section**/

/** bankroll-banner**/

.bank_banner {
	background-image: url('../images/bankroll_tool/bankroll_banner.jpg');
}

.bank_banner-txt {
	text-align: center;
	padding: 155px 0px;
	font-family: myriad pro;
	text-transform: uppercase;
	float: right;
}

.bank_banner-txt h1 {
	color: #fbba41;
	font-size: 50px;
	letter-spacing: 3px;
}

.bank_banner-txt h4 {
	color: #fff;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 70px;
	letter-spacing: 3px;
}

.bank_banner-txt .button {
	background-color: #fbba41;
	color: white;
	font-family: open sans;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 12px;
	border: 1px solid #fbba41;
}

.bank_banner-txt .button2 {
	background-color: #fff;
	color: #333333;
	border: 1px solid #fff;
}

/** bankroll-banner end**/

/** bankroll-first-sec**/

.bank_1_sec {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #333333;
	text-transform: uppercase;
	text-align: center;
	font-family: oswald;
}

.bank_1_sec h2 {
	font-size: 30px;
	color: #333333;
	line-height: 45px;
	margin-top: 30px;
}

.bank_1_sec h3 {
	font-size: 23px;
	color: #333333;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
	line-height: 33px;
}

.bank_1_sec p {
	font-size: 16px;
	font-family: open sans;
	color: #333333;
	line-height: 27px;
	text-transform: initial;
	padding-left: 70px;
	padding-right: 70px;
}

/** bankroll-robust**/

.bank_robust{
	background-color: #232323;
	padding-top: 50px;
	padding-bottom: 50px;
}


.heading h2 {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: oswald;
	letter-spacing: 1px;
}

.heading {
	text-align: center;
	margin-bottom: 50px;
}

.robust-txt-b{
	padding:15px;
	width: 325px;
	height: 135px;
	background-color: #181818;
	color: #fff;
	font-family: oswald;
	font-size: 20px;
	
}

.robust-txt-b.box_2 {
	border-bottom: 3px solid #fbba41;
}

.robust-txt-b .des.pull-right {
	width: 92%;
}

.robust-txt-b .des.pull-right p {
	font-family: open sans;
	font-size: 14px;
	margin-top: 10px;
}

/** bankroll-robust end**/

/** bankroll-signup**/
.bank_signup{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.bank_signup-lft {
	float: left;
	width: 65%;
}

.bank_signup-ryt {
	float: left;
	width: 35%;
}

.bank_signup-ryt .btn {
	border: 1px solid #fbba41;
	border-radius: 3px;
	background-color: #fbba41;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 60px;
	font-family: oswald;
	letter-spacing: 1px;
}

.bank_signup-lft h3 {
	font-size: 25px;
	font-family: open sans;
	font-weight: 100;
}

/** bankroll-signup end**/




/** bankroll-bg**/

	.bank_bg {
	background-image: url('../images/bankroll_tool/bank_bg1.png');
	height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 0;
}

.bank_bg_txt{
	text-align: center;
}

.bank_bg_txt::before {
	position: absolute;
	top: 15px;
	left: 0;
	bottom: 5px;
	border: 1px solid #ffc722;
	content: '';
	width: 35%;
	border-right: none;
}

.bank_bg_txt::after {
	position: absolute;
	top: 15px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #ffc722;
	content: '';
	width: 35%;
	border-left: none;
}

.bank_bg_txt .heading h2 {
	color: #fff;
	font-size: 30px;
	font-family: oswald;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.bank_bg_txt .heading h2 span {
	color: #fbba41;
}	

.bank_bg_txt p {
	color: #fff;
	font-size: 14px;
	font-family: open sans;
	line-height: 27px;
	margin: 50px;

}	

.bank_bg_txt .exp a {
	background-color: #fbba41;
	color: black;
	text-transform: uppercase;
	padding: 15px 50px;
}

/** bankroll-bg end**/
/** bankroll-risk**/
.bank_risk{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f0f0f0;
}

.bank_risk .heading h2 {
	color: #333333;
	font-size: 22px;
	font-weight: 300;
}

.bank_risk h5 {
	font-size: 13px;
	color: #333333;
	font-family: open sans;
	margin-top: 10px;
}

.bank_risk h5 span{
	color: #000;
	font-weight: 800;
}
/** bankroll-risk end**/

/** bankroll-video**/
.bank_video{
	background-image: url('../images/bankroll_tool/bank_video.jpg');
	padding-top: 50px;
	padding-bottom: 50px;
	
}
.bank_video .col-sm-4 img {
	width: 100%;
}
/** bankroll-video end**/



/** bankroll-footer**/

.footer{
	font-family: open sans;
	font-size: 14px;

}

/** bankroll-footer end**/

/** bankroll-footer1**/


/** bankroll-footer1**/

.footer1{
	background-color: #3e3e3e;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
}

.footer1 h5 {
	font-size: 15px;
	margin-bottom: 10px;
	color: #7b7878;
	text-transform: uppercase;
}

.footer1 ul li a {
	color: white;
}

/** bankroll-footer1 end**/

/** bankroll-footer1**/

.footer2{
	background-color: #fec524;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

/** bankroll-footer2 end**/

/** section end**/