<div class="page-title">
	<h3>MLB Teams</h3>
</div>
<div id="main-wrapper">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div>
				<p-dataTable [value]="mlbTeams" [rows]="10" [paginator]="true">
					<p-header>List of MLB Teams</p-header>
					<p-column [styleClass] = "ui-datatable" field="name" header="Name" [filter]="true" filterPlaceholder="Search"></p-column>
					<p-column [styleClass] = "ui-datatable" field="market" header="Market" [filter]="true" filterPlaceholder="Search"></p-column>
				</p-dataTable>
			</div>
		</div>
	</div>
</div>