<div class="page-title">
	<h3>MLB Teams</h3>
</div>
<div id="main-wrapper">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div>
				<p-dataTable [value]="players" [rows]="10" [paginator]="true">
					<p-header>List of Players</p-header>
					<p-column field="full_name" header="Name" [filter]="true" filterPlaceholder="Search"></p-column>
					<p-column field="jersey_number" header="Jercey Number" [filter]="true" filterPlaceholder="Search"></p-column>

					<p-column field="team" header="Team" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">

						<!-- <p-dropdown [options]="teams" styleClass="ui-column-filter"></p-dropdown> -->
						
					</p-column>  
				</p-dataTable>
			</div>
		</div>
	</div>
</div>